<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebRTC Demo</title>
    <link rel="stylesheet" href="static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script> -->
    <script src="static/scripts/agora-rtm-sdk-1.4.4.js"></script>
    <script src="static/scripts/script.js"></script>
  </head>
  <body>
    <div id="videos">
      <video class="video-player" id="localVideo" autoplay playsinline></video>
      <video class="video-player" id="remoteVideo" autoplay playsinline></video>
    </div>
  </body>
</html>
